.inputfield{

}
/* remove blue glow from default style  */
.form-control:focus {
    border-color: #091dff;
    box-shadow: inset 0 1px 1px rgba(21, 84, 255, 0.075), 0 0 8px rgba(21, 84, 255, 0.6);
  }
  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
 
  /* Works for Firefox */
  input[type="number"] {
    -moz-appearance: textfield;
  }